@model List<ResultCurrencyVm>
@{
    int count = 1;
}

<table class="table table-striped table-hover table-bordered text-center align-middle">
    <thead>
        <tr>
            <th >#</th>
            <th >Döviz Adı</th>
            <th >Döviz HTML Kodu</th>
            <th>Güncelle</th>
            <th>Sil</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.AttributeName</td>
                <td><a asp-controller="Currency" asp-action="UpdateCurrency" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm ">Güncelle</a></td>
                <td><a asp-controller="Currency" asp-action="DeleteCurrency" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Sil</a></td>
            </tr>
            count++;
        }
        
       
    </tbody>
</table>


<a  type="button" class="btn btn-outline-primary mb-3 col-lg-2" asp-action="Create" asp-controller="Currency">Yeni Döviz Kodu Ekle</a>